#main-svg {
  margin: auto;
  height: 100%;
  max-height: 256px;
  width: 256px;
}

#sprite-elements {
  cursor: pointer;
}

#main-svg #background-rect {
  fill: #fff;
  stroke: #ddd;
  stroke-width: 1;
}

#main-svg #selection-box {
  fill: none;
  stroke: blue;
  stroke-dasharray: 4 2;
  pointer-events: none;
}

#main-svg #control-points circle {
  fill: red;
  cursor: move;
}