body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background: #f4f6fa;
    border-right: 1px solid #e0e0e0;
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #fff;
    /* overflow: hidden; */
}

.active-sprite-container {
    display: flex;
    flex: 1;
    min-height: 0;
    padding: 20px;
}

.all-sprites-panel {
    height: 144px;
    background: #f4f6fa;
    border-top: 1px solid #e0e0e0;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.all-sprites {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.sprite-preview {
    background: #fff;
    border: 1px dashed #ccc;
}

.sprite-preview svg {
    height: 128px;
    width: 128px;
}

.add-sprite-button {
    background: #eee;
    border: 1px dashed #ccc;
}

.add-sprite-button:hover {
    background: #f8f8f8;
    cursor: pointer;
}

.add-sprite-button svg {
    height: 100%;
    width: 100%;
    max-height: 128px;
    color: #007bff;
}

