.toolbar {
  background: #222e3c;
  color: #fff;
  padding: 5px;
  display: flex;
}

.toolbar-title {
  margin: 0;
  padding: 0 8px;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
}

.toolbar button {
  background: #ddd;
  border: none;
  border-radius: 2px;
  margin: 2px 5px;
  padding: 3px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.toolbar button:hover {
  background: #fff;
  transition: background 0.15s;
}

.toolbar button.selected {
  background: #fff;
  border: none;
  color: #007bff;
  font-weight: bold;
  outline: none;
  transition: background 0.15s, color 0.15s;
}
